<div class="container">
  <%= form_for [item.bucketlist, item] do |f| %>
    <%= f.check_box :complete %>
    <%= f.label item.name %>

    <%= f.submit "Mark as complete" %>
    <%= link_to "delete", [item.bucketlist, item], method: :delete, data: {confirm: "Are you sure?"}, class: "delete-link", remote: true %>

  <% end %>
</div>